
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:#ff00dc">PhoneShop </h1>
<h3 style="color:#ff00dc">@ViewBag.msg</h3>
<h4  >@ViewBag.x</h4>
<h5 ><img  src="~/Images/@ViewBag.Image" /></h5>